.reviews__container{
   padding: 5rem 0;
}
.reviews {
   padding: 8rem 0 3rem 0;
   display: flex;
   overflow-x: auto;
}
.review{
   flex :none;
   border : 1px solid lightgray;
   padding: 2rem;
   width: 300px ;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-left: 2rem;
}
.review img{
   width: 60px;
   height: 60px;
   border-radius: 50%;
  
}